* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background: linear-gradient(to right, #8bc8e0, #ebbec5);

}

.container {
    background-image: url(wallpaper.png);
    background-size: 500px 100px;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    max-width: 600px;
    margin: 120px auto 0 auto;
    margin-top: 17px;
}


.img-container {
    height: 96px;
    width: 96px;
    margin-bottom: 12px;
}

h1 {
    font-size: 20px;
    margin-bottom: 32px;
}

img {
    width: 100%;
    border-radius: 50%;
    background-size: cover;

}


.link-card {
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 24px;
    border-radius: 20px;
    }
    
    .link-card:hover {
        background-color: #333;
}

.icons {
    font-size: 24px;
}

.badge {
    color: rgb(88, 88, 230);
    margin-top: -54px;
    margin-left: 160px;
}

.paragraph1 {
    font-size: small;
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 25px;
    text-align: center;
    
}

@media only screen and (max-width: 540px) {
    .container {
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }    
}

@media only screen and (max-width: 430px) {
    .container {
        width: 90%;
    }    
}

@media only screen and (max-width: 412px) {
    .container {
        padding: 0.30px;
        margin-top: 6px;
    }
  
}
@media only screen 
    and (device-width: 412px)
    and (device-height: 915px)
    and (-webkit-device-pixel-ratio: 2.625) {
    .container {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 360px) {
    .container {
        padding: 10px;
        
    }
}

@media only screen and (max-width: 375px) {
    .container {
        padding: 10px;
        
    }
}

@media only screen and (max-width: 376px) {
    .container {
        padding: 10px;
        
    }
}
@media only screen and (max-width: 393px) {
    .container {
        padding: 1px;
        margin-top: 30px;
    }
}
